<!-- Item on Display -->
<div id="displayed-item">

	<!-- Heading -->
	<h2 id="displayed-item-heading-name">{{pgCtrl.items.data[pgCtrl.selectedItem].title}}</h2>
	<h3 id="displayed-item-heading-time">{{pgCtrl.items.data[pgCtrl.selectedItem].time}}</h3>

	<!-- Main Screenshot -->
	<div id="displayed-item-main-screenshot">
		<img ng-src="{{pgCtrl.items.data[pgCtrl.selectedItem].screenshots[pgCtrl.selectedScreenshot]}}" style="width: 100%; height: auto; border: 1px solid black;"></img>
	</div>

	<!-- Screenshot Gallery -->
	<div id="displayed-item-screenshot-gallery" ng-show="pgCtrl.items.data[pgCtrl.selectedItem].screenshots.length > 1">
		<ul style="margin: 0px auto 10px; width: 100%; padding: 0px; list-style: none; position: relative; float: left; display: block;">
			<li style="position: relative; border: 0px none; margin-left: 2%; margin-right: 2%; width: 10%; height: auto; display: inline-block; margin-bottom: 5px;" ng-repeat="image in pgCtrl.items.data[pgCtrl.selectedItem].screenshots track by $index">
				<img ng-src="{{image}}" 
					style="width: 100%; height: 100%; border: 1px solid black;" 
					ng-class="{'selected-image': pgCtrl.selectedScreenshot == $index}" 
					ng-click="pgCtrl.setSelectedScreenshot($index)"></img>
			</li>
		</ul>
	</div>

	<!-- Description -->
	<div style="margin-left: auto; margin-right: auto; text-align: center;">
		<h3 style="margin-top: 0px; font-size: 27px;">Description</h3>
		<p id="displayed-item-description">
			{{pgCtrl.items.data[pgCtrl.selectedItem].description}}</p>
	</div>

	<!-- Links -->
	<div ng-show="pgCtrl.items.data[pgCtrl.selectedItem].links.length" style="margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px;">
		<a ng-repeat="link in pgCtrl.items.data[pgCtrl.selectedItem].links" href="{{link.link}}">{{link.text}}<br /></a>
	</div>

	<div ng-hide="pgCtrl.items.data[pgCtrl.selectedItem].links.length" style="margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px;"> <!-- Extra padding, if no links -->
	</div>
</div>