<!-- Item Gallery -->
<ul style="width: 100%; margin: 0px auto 10px; padding: 0px; list-style: none; position: relative; display: block; text-align: center;">
	<li ng-repeat="item in pgCtrl.items.data track by $index" 
		style="position: relative; border: 0px none; margin-left: 2%; margin-right: 2%px; width: 20%; height: auto; display: inline-block; margin-bottom: 4%;"
		ng-show="item.type === pgCtrl.desiredType">
		<div ng-click="pgCtrl.setSelectedItem($index)" style="border: 1px black solid; border-radius: .5em; margin-top: 10px; margin-left: auto; margin-right: auto; width: 100%;" ng-class="{'item-selected': $index === pgCtrl.selectedItem}">
			<h2 style="font-size: 1.25vw; padding: 0px; margin: 3%;">{{item.title}}</h2>
			<img ng-src="{{item.thumbnail}}" style="width: 75%; margin-bottom: 10px;"></img>
		</div>
	</li>
</ul>